@font-face {
    font-family: "Noto Sans";
	font-style: normal;
	font-weight: normal;
    src: url("../fonts/noto-sans.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}
  
body {
    min-width: 1366px;
    height: 100%;
    margin: 0;
    font-family: "Noto Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    background-color: #fdfdff;
    color: #163152;
}

.page-container {
    display: flex;
    flex-direction: column;
    width: 1170px;
    min-height: 100%;
    background-color: #fdfdff;
    margin: 0 auto;
} 

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

  .navigation {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    min-height: 108px;
    align-items: center;
}

  .navigation-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    min-width: 338px;
    max-width: 800px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navigation-link {
    padding: 20px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #163152;
}