@font-face {
    font-family: "Noto Sans";
	font-style: normal;
	font-weight: normal;
    src: url("../fonts/noto-sans.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}
  
body {
    min-width: 1366px;
    height: 100%;
    margin: 0;
    font-family: "Noto Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    background-color: #fdfdff;
    color: #163152;
}

.page-container {
    display: flex;
    flex-direction: column;
    width: 1170px;
    min-height: 100%;
    background-color: #fdfdff;
    margin: 0 auto;
} 

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

  .navigation {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    max-width: 1170px;
    min-height: 108px;
    align-items: center;
}

  .navigation-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    min-width: 338px;
    max-width: 800px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navigation-link {
    padding: 20px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #163152;
}

.navigation-current {
    cursor: default;
}

.mouse:hover {
    opacity: 70%;
  }

.mouse:active {
    opacity: 50%;
}

.hero {
    position: relative;
    margin-bottom: 120px;
}

.hero-title {
    font-style: italic;
    font-size: 44px;
    line-height: 60px;
    text-transform: uppercase;
    margin: 0;
    margin: 39px 0 10px 100px;
}

.hero-title2 {
    position: absolute;
    left: 100px;
    top: 80px;
    font-style: italic;
    font-size: 44px;
    line-height: 60px;
    text-transform: uppercase;
    color: #fdfdff;
    margin: 0;
    
}

.hero-image {
    display: block;
}

.membership-button {
    position: absolute;
    right: -25px;
    top: 150px;
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0;
}

.membership-button:hover {
    opacity: 70%;
  }

.membership-button:active {
    opacity: 50%;
}

.membership, .walk {
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    transform: rotate(90deg);
    color: #163152;
}

.walks-button {
    position: absolute;
    right: -22px;
    top: 300px;
    border: 0;
    background: none;
    cursor: pointer;
    padding: 0;
}

.walks-button:hover {
    opacity: 70%;
  }

.walks-button:active {
    opacity: 50%;
}

.see-more {
    position: absolute;
    bottom: 25px;
    left: 100px;
    display: flex;
    border: 0;
    background:none;
    cursor: pointer;
    padding: 0;
}

.see-more:hover {
    opacity: 70%;
}

.see-more:active {
    opacity: 50%;
}

.see {
    color: #fdfdff;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 14px;
}

.more {
    margin-left: 20px;
}

.left {
    position: absolute;
    bottom: -3px;
    right: 192px;
    background:none;
    border: 0;
    cursor: pointer;
}

.left:hover {
    opacity: 70%;
}

.left:active {
    opacity: 50%;
  }


.right {
    position: absolute;
    bottom: -3px;
    right: 94px;
    background:none;
    border: 0;
    cursor: pointer;
}

.right:hover {
    opacity: 70%;
}

.right:active {
    opacity: 50%;
  }

.arrow {
    position: absolute;
    left: 123px;
    top: 7px;
}

.blog {
    margin-bottom: 140px;
}

.blog-list {
    margin: 0;
    padding: 0;

    list-style-type: none;
    
}

.blog-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding-left: 70px;
    margin-bottom: 120px;
}

.blog-item-wrapper {
    min-width: 287px;
    min-height: 169px;
    padding: 46px 0;
}

.blog-item-title {
    position: relative;
    margin: 0;
    margin-bottom: 35px;
    font-size: 24px;
    line-height: 34px;
}

.blog-item-title::after {
    position: absolute;
    left: 0;
    bottom: -15px;
    width: 130px;
    height: 2px;
    content: "";
    background-color: #00C6BD;
  }

.blog-item-text {
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3%;
}

.blog-dates {
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.revers {
    padding: 0;
    padding-right: 70px;
    flex-direction: row-reverse;
  }

.text-right {
    text-align: right;
}

.line-right::after {
    position: absolute;
    left: 205px;
    bottom: -15px;
    width: 130px;
    height: 3px;
    content: "";
    background-color: #00C6BD;
  }

  .go-button-right {
    position: absolute;
    left: 430px;
    top: 155px;
    border: 0;
    background: none;
    cursor: pointer;
  }

  .arrow-right {
    position: absolute;
    left: 23px;
    top: 23px;
}

.go-button-right:hover {
    opacity: 70%;
}

.go-button-right:active {
    opacity: 50%;
}

.go-button-left {
    position: absolute;
    left: 570px;
    top: 155px;
    border: 0;
    background: none;
    cursor: pointer;
  }

  .arrow-left {
    position: absolute;
    left: 23px;
    top: 23px;
}

.go-button-left:hover {
    opacity: 70%;
}

.go-button-left:active {
    opacity: 50%;
}

.rent {
    margin-bottom: 120px;
}

.rent-title {
    position: relative;
    margin: 0;
    margin-bottom: 55px;
    text-align: center;
    font-size: 24px;
    line-height: 34px;

}

.rent-title::after {
    position: absolute;
    left: 500px;
    bottom: -15px;
    width: 170px;
    height: 2px;
    content: "";
    background-color: #00C6BD;
  }

.rent-list {
    display: grid;
    grid-template-columns: 370px 370px 370px;
    gap: 30px;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.rent-card {
    display: flex;
    flex-direction: column;
    width: 310px;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.rent-card-link {
    text-decoration: none;
    color: #163152;
    cursor: pointer;
}

.rent-card-link:hover {
    opacity: 70%;
}

.rent-card-link:active {
    opacity: 50%;
}

.rent-card-title {
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
}

.boat-image {
    display: block;
    margin-bottom: 15px;
}

.rent-card-text {
    margin: 0;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 24px;
}

.rent-card-feature-list {
    margin-bottom: 25px;
    padding-left: 18px;
    list-style-image: url("../images/dot.svg");
}

.boat-card-price {
    display: flex;
    justify-content: space-between;
}

.boat-card-cost {
    font-size: 18px;
    font-weight: 600;
}

.video {
    position: relative;
    margin-bottom: 120px;
}

.video-title {
    position: relative;
    margin: 0;
    margin-bottom: 105px;
    text-align: center;
    font-size: 24px;
    line-height: 34px;

}

.video-title::after {
    position: absolute;
    left: 500px;
    bottom: -15px;
    width: 170px;
    height: 2px;
    content: "";
    background-color: #00C6BD;
  }

.video-container {
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1030px;
    margin: 0 auto;
}

.active-video {
    position: absolute;
    top: 95px;
    transform:translateX(43%);
    z-index: 1;
    background: #000;
}

.active-video img {
    display: block;
    opacity: 70%;
}

.play-button {
    position: absolute;
    
    left: 550px;
    top: 243px;
    z-index: 2;
    cursor: pointer;
}

.play {
    position: absolute;
    left: 25px;
    top: 17px;
}

.play-button:hover {
    opacity: 70%;
}

.play-button:active {
    opacity: 50%;
}
